
@media  screen and (min-width:600px) {
    body {
        background-color: #424242;
    }
    
    .logo {
        float: left;
        width: 100px;
        margin: 10px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #242424;
        position: sticky;
        top: 0;
        width: 100%;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 50px 20px;
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      
      li a:hover {
        background-color: #fc0d1d98;
      } 
     
    .logo1{
        width: 100%;
        height: 400px;
    }
    
    .hvemerjeg {
        background-color: #7C7C7C;
        padding: 0px;
        margin: 10px;
        width: 50%;
        height: 300px;
        position: left;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .detmig{
        width: 200px;
        height: 200px;
        float: left;
        margin: 5px;

    }
    .overskrift1{
        color: white;
        font-size: 30px;
        align-items: center;
    }

    .infoommig{
        align-items: left;
    }

    
    .kompetencer {
        background-color: #7C7C7C;
        padding: 0px;
        margin: 10px;
        width: 50%;
        height: 300px;
        float: right;
        font-family: Arial, Helvetica, sans-serif;
        text-align: right;
    
    }  

    .infoomkompetencer{
        float: left;
    }

    .detogsåmig{
        width: 200px;
        height: 200px;
        float: right;
        margin: 5px;

    }
    .overskrift2{
        color: white;
        font-size: 30px;
        
    }

    .billede{
        width: 200px;
        height: 200px;
        float: left;

    }

    .billede1{
        width: 200px;
        height: 200px;
    }

    .mitarbejde {
        background-color: #7C7C7C;
        padding: 100px;
        margin: 10px;
        width: auto;
        float: left;
        font-family: Arial, Helvetica, sans-serif; 
    }
    
    .gallery {
        margin: 10px;
        border: 1px solid #ccc;
        float: left;
        width: 300px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 18px;
        color: white;   
    }
    
    .gallery:hover {
        border: 1px solid #fc0d1d98;
    }
        

    .gallery img {
        width: 300px;
        height: 400px;

    }
      
    article.desc {
        padding: 15px;
        text-align: center;
    }
    
    .footer {
        background-color: #242424;
        color: white;
        width: 100%;
        height: 50px;
        position: bottom;
        overflow: hidden;
        bottom: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 10px;
    }    
}
